html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container{
    position: relative;
    height: 100%;
}
.content{
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 160px;
    border: 1px solid black;
}
.content>:first-child{
    padding: 0;
}
.msg_container,
{
    width: 100%;
    overflow: scroll;
}
#msg_table{
    width: 100%;
}
#msg_table tr{
    width: 100%;
    height: 34px;
    min-height: 34px;
}
#msg_table thead tr{
    border-bottom: 1px solid black;
}
#msg_table tr:last-child{
    border-bottom: 1px solid black;
}
td{
    padding: 5px 10px;
}
#msg_table th{
    text-align: center;
    border-radius: 5px;
}
#msg_table th:hover{
    background-color: rgba(79, 217, 101, 0.38);
}
#msg_table th.sort{
    cursor: pointer;
}
#msg_table_body>:nth-child(even){
    background-color: #f5f5f5;
}
#msg_table_body tr:hover{
    background-color: #ffffe6;
}
.footer{
    height: 150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -151px;
    box-sizing: border-box;
    background-color: white;
}

.footer .file_container{
    text-align: center;
}
.footer .file_container>input{
    margin-top: 10px;
}
.footer>*{
    height: 100%;
}
/*.content>:last-child,*/
.footer>*{
    text-align: center;
    padding-top: 10px;
}

.footer textarea{
    height: 93px;
    resize: none;
    box-sizing: border-box;
}

.validation {
    /*-webkit-animation-name: valid;*/
    /*animation-name: valid;*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*animation-iteration-count: infinite;*/
    /*-webkit-animation-duration: 2s;*/
    /*animation-duration: 2s;*/
    /*animation-timing-function: linear;*/
    animation: valid 1s linear infinite;
}


@-webkit-keyframes valid {
    from{
        border-color: white;
    }
    50%{
        border-color: white;
    }
    to{
        border-color: white;
    }
}

@keyframes valid {
    from{
        border-color: white;
    }
    50%{
        border-color: lightcoral;
    }
    to{
        border-color: white;
    }
}

